body {
   color: #222;
   font-family: 'Lato', sans-serif;
}

p {
   margin: auto;
   width: 542px;
}

@media screen and (max-width: 768px) {
   p {
      width: 440px;
   }
}

@media screen and (max-width: 526px) {
   p {
      width: 83.65%
   }
}
