h1,
footer {
   text-align: center;
}

footer {
   font-style: italic;
}

p {
   margin: 0 auto 20px;
   width: 512px;
}

img {
   margin-right: 14px;
   float: left;
   width: 200px;
}

q {
   margin: 16px 20px 12px -44px;
   padding: 12px;
   background-color: #ddd;
   float: left;
}
